In [1]:
# Dependenceis
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests
import time

In [2]:
# MAC user: 
#https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
#executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
#browser = Browser('chrome', **executable_path, headless=False)

# Initialize browser
#def init_browser():
# using the output above to define our executable path with splinter
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=True) #if headless=False, then the scrapped page will remain on display

In [4]:
# Identifying the website to be scrapped and establishing a connection
url = 'https://tradingeconomics.com/united-states/housing-starts'
browser.visit(url)

In [5]:
# Creating a beautifulsoup object and parsing this object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#browser.quit() # this command will also close the browser window after scaping

In [6]:
table_values = soup.find_all('div', class_ = "table-responsive")
print(table_values)

[<div class="table-responsive">
<table class="table table-hover" id="calendar">
<thead>
<tr>
<th style="padding-left: 10px;">
                                Calendar

                </th><th>GMT</th>
<th></th>
<th>
                                Actual</th>
<th>
                                Previous</th>
<th>
                                Consensus</th>
<th>
<span title="Trading Economics forecasts are driven by our models and calibrated using analysts expectations. ">
                                    TEForecast
                                </span>
</th>
</tr>
</thead>
<tbody><tr class="an-estimate-row" data-category="Housing Starts                                    " data-country="United States            " data-id="190368">
<td style="text-align: left; padding-left: 10px; white-space: nowrap;">2019-08-16</td>
<td style="white-space: nowrap">12:30 PM</td>
<td>
                Housing Starts MoM
                <a style="color:grey">Jul </a>
</td>
<td class="datatable-item datatable-item-negative" id="actual">
                -4%
            </td>
<td class="datatable-item datatable-item-negative">
                -1.8%
            </td>
<td class="datatable-item datatable-item-negative">
                -1.7%
            </td>
<td class="datatable-item datatable-item-positive">
                1.5%
            </td>
</tr>
<tr class="an-estimate-row" data-category="Housing Starts                                    " data-country="United States            " data-id="190371">
<td style="text-align: left; padding-left: 10px; white-space: nowrap;">2019-08-16</td>
<td style="white-space: nowrap">12:30 PM</td>
<td>
                Housing Starts
                <a style="color:grey">Jul </a>
</td>
<td class="datatable-item datatable-item-positive" id="actual">
                1.191M
            </td>
<td class="datatable-item datatable-item-positive">
                1.241M
            </td>
<td class="datatable-item datatable-item-positive">
                1.257M
            </td>
<td class="datatable-item datatable-item-positive">
                1.272M
            </td>
</tr>
<tr class="an-estimate-row" data-category="Housing Starts                                    " data-country="United States            " data-id="192122">
<td style="text-align: left; padding-left: 10px; white-space: nowrap;">2019-09-18</td>
<td style="white-space: nowrap">12:30 PM</td>
<td>
                Housing Starts
                <a style="color:grey">Aug </a>
</td>
<td class="datatable-item datatable-item-positive" id="actual">
                1.364M
            </td>
<td class="datatable-item datatable-item-positive">
                1.215M
            </td>
<td class="datatable-item datatable-item-positive">
                1.25M
            </td>
<td class="datatable-item datatable-item-positive">
                1.251M
            </td>
</tr>
<tr class="an-estimate-row" data-category="Housing Starts                                    " data-country="United States            " data-id="192124">
<td style="text-align: left; padding-left: 10px; white-space: nowrap;">2019-09-18</td>
<td style="white-space: nowrap">12:30 PM</td>
<td>
                Housing Starts MoM
                <a style="color:grey">Aug </a>
</td>
<td class="datatable-item datatable-item-positive" id="actual">
                12.3%
            </td>
<td class="datatable-item datatable-item-negative">
                -1.5%
            </td>
<td class="datatable-item datatable-item-positive">
                4.5%
            </td>
<td class="datatable-item datatable-item-positive">
                5.1%
            </td>
</tr>
<tr class="an-estimate-row" data-category="Housing Starts                                    " data-country="United States            " data-id="193597">
<td style="text-align: left; padding-left: 10px; white-space: nowrap;">2019-10-17</td>
<td style="white-space: nowrap">12:30 PM</td>
<td>
                Housing Starts
                <a style="color:grey">Sep </a>
</td>
<td class="datatable-item datatable-item-positive" id="actual">
</td>
<td class="datatable-item datatable-item-positive">
                1.364M
            </td>
<td class="datatable-item datatable-item-positive">
</td>
<td class="datatable-item datatable-item-positive">
                1.273M
            </td>
</tr>
<tr class="an-estimate-row" data-category="Housing Starts                                    " data-country="United States            " data-id="195333">
<td style="text-align: left; padding-left: 10px; white-space: nowrap;">2019-11-19</td>
<td style="white-space: nowrap">01:30 PM</td>
<td>
                Housing Starts
                <a style="color:grey">Oct </a>
</td>
<td class="datatable-item datatable-item-positive" id="actual">
</td>
<td class="datatable-item datatable-item-positive">
</td>
<td class="datatable-item datatable-item-positive">
</td>
<td class="datatable-item datatable-item-positive">
</td>
</tr>
<tr class="an-estimate-row" data-category="Housing Starts                                    " data-country="United States            " data-id="196881">
<td style="text-align: left; padding-left: 10px; white-space: nowrap;">2019-12-17</td>
<td style="white-space: nowrap">01:30 PM</td>
<td>
                Housing Starts
                <a style="color:grey">Nov </a>
</td>
<td class="datatable-item datatable-item-positive" id="actual">
</td>
<td class="datatable-item datatable-item-positive">
</td>
<td class="datatable-item datatable-item-positive">
</td>
<td class="datatable-item datatable-item-positive">
</td>
</tr>
<tr>
<td colspan="9">
<a href="../calendar" id="ctl00_ContentPlaceHolder1_ctl00_ctl00_Repeater1_ctl08_More">
<div class="btn-group btn-group-sm">
<button class="btn btn-default" type="button">
<i class="glyphicon glyphicon-plus"></i>
</button></div>
</a>
</td>
</tr>
</tbody></table></div>, <div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th style="text-align: left; padding-left: 10px; text-transform: capitalize">
                    United States Housing
                </th>
<th>
                    Last</th>
<th>
                    Previous</th>
<th>
                    Highest</th>
<th>
                    Lowest</th>
<th>
                    Unit</th>
<th></th>
</tr>
</thead>
<tbody><tr>
<td class="datatable-item-first" style="padding-left: 10px; text-align: left;">
<a href="/united-states/building-permits">
                    Building Permits
                </a>
</td>
<td>1419.00</td>
<td>1317.00</td>
<td>2419.00</td>
<td>513.00</td>
<td>
<small>
                    Thousand</small></td>
<td>
<a href="/united-states/building-permits" style="text-align: center" target="_blank">[+]</a>
</td>
</tr>
<tr>
<td class="datatable-item-first" style="padding-left: 10px; text-align: left;">
<a href="/united-states/housing-starts">
                    Housing Starts
                </a>
</td>
<td>1364.00</td>
<td>1215.00</td>
<td>2494.00</td>
<td>478.00</td>
<td>
<small>
                    Thousand units</small></td>
<td>
<a href="/united-states/housing-starts" style="text-align: center" target="_blank">[+]</a>
</td>
</tr>
<tr>
<td class="datatable-item-first" style="padding-left: 10px; text-align: left;">
<a href="/united-states/new-home-sales">
                    New Home Sales
                </a>
</td>
<td>713.00</td>
<td>666.00</td>
<td>1389.00</td>
<td>270.00</td>
<td>
<small>
                    Thousand units</small></td>
<td>
<a href="/united-states/new-home-sales" style="text-align: center" target="_blank">[+]</a>
</td>
</tr>
<tr>
<td class="datatable-item-first" style="padding-left: 10px; text-align: left;">
<a href="/united-states/pending-home-sales">
                    Pending Home Sales
                </a>
</td>
<td>2.50</td>
<td>-0.30</td>
<td>30.90</td>
<td>-24.30</td>
<td>
<small>
                    percent</small></td>
<td>
<a href="/united-states/pending-home-sales" style="text-align: center" target="_blank">[+]</a>
</td>
</tr>
<tr>
<td class="datatable-item-first" style="padding-left: 10px; text-align: left;">
<a href="/united-states/existing-home-sales">
                    Existing Home Sales
                </a>
</td>
<td>5490.00</td>
<td>5420.00</td>
<td>7250.00</td>
<td>1370.00</td>
<td>
<small>
                    Thousand</small></td>
<td>
<a href="/united-states/existing-home-sales" style="text-align: center" target="_blank">[+]</a>
</td>
</tr>
<tr>
<td class="datatable-item-first" style="padding-left: 10px; text-align: left;">
<a href="/united-states/construction-spending">
                    Construction Spending
                </a>
</td>
<td>0.10</td>
<td>-0.70</td>
<td>5.90</td>
<td>-4.80</td>
<td>
<small>
                    percent</small></td>
<td>
<a href="/united-states/construction-spending" style="text-align: center" target="_blank">[+]</a>
</td>
</tr>
<tr>
<td class="datatable-item-first" style="padding-left: 10px; text-align: left;">
<a href="/united-states/housing-index">
                    Housing Index
                </a>
</td>
<td>0.40</td>
<td>0.20</td>
<td>1.20</td>
<td>-1.80</td>
<td>
<small>
                    percent</small></td>
<td>
<a href="/united-states/housing-index" style="text-align: center" target="_blank">[+]</a>
</td>
</tr>
<tr>
<td class="datatable-item-first" style="padding-left: 10px; text-align: left;">
<a href="/united-states/nahb-housing-market-index">
                    Nahb Housing Market Index
                </a>
</td>
<td>68.00</td>
<td>67.00</td>
<td>78.00</td>
<td>8.00</td>
<td>
<small>
</small></td>
<td>
<a href="/united-states/nahb-housing-market-index" style="text-align: center" target="_blank">[+]</a>
</td>
</tr>
<tr>
<td class="datatable-item-first" style="padding-left: 10px; text-align: left;">
<a href="/united-states/mortgage-rate">
                    Mortgage Rate
                </a>
</td>
<td>4.02</td>
<td>4.01</td>
<td>10.56</td>
<td>3.47</td>
<td>
<small>
                    percent</small></td>
<td>
<a href="/united-states/mortgage-rate" style="text-align: center" target="_blank">[+]</a>
</td>
</tr>
<tr>
<td class="datatable-item-first" style="padding-left: 10px; text-align: left;">
<a href="/united-states/mortgage-applications">
                    Mortgage Applications
                </a>
</td>
<td>-10.10</td>
<td>-0.10</td>
<td>49.10</td>
<td>-38.80</td>
<td>
<small>
                    percent</small></td>
<td>
<a href="/united-states/mortgage-applications" style="text-align: center" target="_blank">[+]</a>
</td>
</tr>
<tr>
<td class="datatable-item-first" style="padding-left: 10px; text-align: left;">
<a href="/united-states/case-shiller-home-price-index">
                    Case Shiller Home Price Index
                </a>
</td>
<td>218.00</td>
<td>217.72</td>
<td>218.00</td>
<td>100.00</td>
<td>
<small>
                    Index Points</small></td>
<td>
<a href="/united-states/case-shiller-home-price-index" style="text-align: center" target="_blank">[+]</a>
</td>
</tr>
<tr>
<td class="datatable-item-first" style="padding-left: 10px; text-align: left;">
<a href="/united-states/home-ownership-rate">
                    Home Ownership Rate
                </a>
</td>
<td>64.10</td>
<td>64.20</td>
<td>69.20</td>
<td>62.90</td>
<td>
<small>
                    percent</small></td>
<td>
<a href="/united-states/home-ownership-rate" style="text-align: center" target="_blank">[+]</a>
</td>
</tr>
<tr><td colspan="7">
<a href="indicators" id="ctl00_ContentPlaceHolder1_ctl02_Repeater1_ctl13_More">
<div class="btn-group btn-group-sm">
<button class="btn btn-default" type="button">
<i class="glyphicon glyphicon-plus"></i>
</button></div>
</a>
</td></tr>
</tbody></table></div>, <div class="table-responsive">
<table class="table">
<thead>
<tr>
<th></th>
<th>
                                Actual</th>
<th>
                                Previous</th>
<th>
                                Highest</th>
<th>
                                Lowest</th>
<th>
                                Dates</th>
<th>
                                Unit</th>
<th>
                                Frequency</th>
<th>
</th>
</tr>
</thead>
<tbody><tr>
<td></td>
<td>1364.00</td>
<td>1215.00</td>
<td>2494.00</td>
<td>478.00</td>
<td>1959 - 2019</td>
<td>
                    Thousand units</td>
<td>
                    Monthly</td>
<td>
<div style="max-width: 150px; overflow: hidden;">
                        Volume, SA
                    </div>
</td>
</tr>
</tbody></table></div>, <div class="table-responsive">
<table class="table table-hover" data-sortable="">
<thead>
<tr>
<th style="cursor: pointer">Country</th>
<th data-sortable="true" style="text-align: right; cursor: pointer">Last </th>
<th></th>
<th data-sortable="true" style="text-align: right; cursor: pointer">Previous </th>
<th class="hidden-sm hidden-xs" data-sortable="true" style="cursor: pointer; text-align:center">Range</th>
<th class="hidden-xs" data-sortable="false"></th>
</tr>
</thead>
<tbody><tr class="datatable-row">
<td style="max-width: 120px; overflow: hidden; padding-left: 10px; text-align: left; font-weight: 600;">
<a href="/canada/housing-starts">
                                        Canada
                                    </a></td>
<td data-value="226.64" style="text-align: right;">
                                    226.64
                                </td>
<td style="text-align: right;"><span>Aug/19</span></td>
<td class="hidden-sm hidden-xs" style="text-align: right;">222</td>
<td class="hidden-sm hidden-xs" style="text-align: center;">292 : 90.7</td>
<td class="hidden-xs">
<small>Thousand units</small>
</td>
</tr>
<tr class="datatable-row-alternating">
<td style="max-width: 120px; overflow: hidden; padding-left: 10px; text-align: left; font-weight: 600;">
<a href="/france/housing-starts">
                                        France
                                    </a></td>
<td data-value="16300.00" style="text-align: right;">
                                    16300.00
                                </td>
<td style="text-align: right;"><span>Aug/19</span></td>
<td class="hidden-sm hidden-xs" style="text-align: right;">34200</td>
<td class="hidden-sm hidden-xs" style="text-align: center;">50200 : 14000</td>
<td class="hidden-xs">
<small>units</small>
</td>
</tr>
<tr class="datatable-row">
<td style="max-width: 120px; overflow: hidden; padding-left: 10px; text-align: left; font-weight: 600;">
<a href="/japan/housing-starts">
                                        Japan
                                    </a></td>
<td data-value="-7.10" style="text-align: right;">
                                    -7.10
                                </td>
<td style="text-align: right;"><span>Aug/19</span></td>
<td class="hidden-sm hidden-xs" style="text-align: right;"><span style="color: darkred;">-4.1<span></span></span></td>
<td class="hidden-sm hidden-xs" style="text-align: center;">67.63 : <span style="color: darkred;">-43.96<span></span></span></td>
<td class="hidden-xs">
                                    %
                                </td>
</tr>
<tr class="datatable-row-alternating">
<td style="max-width: 120px; overflow: hidden; padding-left: 10px; text-align: left; font-weight: 600;">
<a href="/russia/housing-starts">
                                        Russia
                                    </a></td>
<td data-value="5.80" style="text-align: right;">
                                    5.80
                                </td>
<td style="text-align: right;"><span>Aug/19</span></td>
<td class="hidden-sm hidden-xs" style="text-align: right;">6.2</td>
<td class="hidden-sm hidden-xs" style="text-align: center;">19.7 : 0.4</td>
<td class="hidden-xs">
<small>Million Sq Meter</small>
</td>
</tr>
<tr class="datatable-row">
<td style="max-width: 120px; overflow: hidden; padding-left: 10px; text-align: left; font-weight: 600;">
<a href="/spain/housing-starts">
                                        Spain
                                    </a></td>
<td data-value="0.54" style="text-align: right;">
                                    0.54
                                </td>
<td style="text-align: right;"><span>Mar/19</span></td>
<td class="hidden-sm hidden-xs" style="text-align: right;">0.58</td>
<td class="hidden-sm hidden-xs" style="text-align: center;">80.11 : 0.18</td>
<td class="hidden-xs">
<small>Thousand units</small>
</td>
</tr>
<tr class="datatable-row-alternating">
<td style="max-width: 120px; overflow: hidden; padding-left: 10px; text-align: left; font-weight: 600;">
<a href="/turkey/housing-starts">
                                        Turkey
                                    </a></td>
<td data-value="1733.00" style="text-align: right;">
                                    1733.00
                                </td>
<td style="text-align: right;"><span>Jun/19</span></td>
<td class="hidden-sm hidden-xs" style="text-align: right;">2969</td>
<td class="hidden-sm hidden-xs" style="text-align: center;">39137 : 1250</td>
<td class="hidden-xs">
<small>units</small>
</td>
</tr>
<tr class="datatable-row">
<td style="max-width: 120px; overflow: hidden; padding-left: 10px; text-align: left; font-weight: 600;">
<a href="/united-kingdom/housing-starts">
                                        United Kingdom
                                    </a></td>
<td data-value="36630.00" style="text-align: right;">
                                    36630.00
                                </td>
<td style="text-align: right;"><span>Mar/19</span></td>
<td class="hidden-sm hidden-xs" style="text-align: right;">40040</td>
<td class="hidden-sm hidden-xs" style="text-align: center;">69520 : 17120</td>
<td class="hidden-xs">
<small>units</small>
</td>
</tr>
<tr class="datatable-row-alternating">
<td style="max-width: 120px; overflow: hidden; padding-left: 10px; text-align: left; font-weight: 600;">
<a href="/united-states/housing-starts">
                                        United States
                                    </a></td>
<td data-value="1364.00" style="text-align: right;">
                                    1364.00
                                </td>
<td style="text-align: right;"><span>Aug/19</span></td>
<td class="hidden-sm hidden-xs" style="text-align: right;">1215</td>
<td class="hidden-sm hidden-xs" style="text-align: center;">2494 : 478</td>
<td class="hidden-xs">
<small>Thousand units</small>
</td>
</tr>
</tbody></table>
<br/>
<br/>
</div>]

In [7]:
len(table_values)

4

In [8]:
# have to use a combination of parent and sibling to dig down into the table
# <td class="datatable-item-first" w/ a href </a></td> is the parent
# <td> is the sibling...two siblings, not sure why
x = table_values[1].find('a', href='/united-states/housing-starts')
#print(x)
y = x.parent
z = y.next_sibling.next_sibling.text
print(z)

1364.00